.root {
  width: 100%;
  height: 100%;

  .email-not-received-container {
    border-bottom: 1px solid grey;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      font-size: 12px;
      padding: 10px;

      @media screen and (max-width: 500px) {
        padding: 4px;
      }

      .title {
        display: flex;
        gap: 10px;
        align-items: center;

        .text {
          user-select: none;
          font-weight: 800;
          font-size: 13px;

          @media screen and (max-width: 320px) {
            font-size: 11px;
          }
        }
      }
      .icon-container {
        display: flex;
        align-items: center;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        transform-origin: center;

        .icon {
          display: flex;
          width: 18px;
          height: 18px;
          animation: turnDown 0.5s forwards;

          &.turnUp {
            animation: turnUp 0.5s forwards;
          }
        }

        @keyframes turnDown {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(180deg);
          }
        }

        @keyframes turnUp {
          from {
            transform: rotate(180deg);
          }
          to {
            transform: rotate(0deg);
          }
        }
      }
    }
    .content-not-received {
      display: flex;
      opacity: 0;
      transform: translateY(-20px);
      max-height: 0;
      flex-direction: column;
      gap: 12px;
      padding: 10px;
      animation: collapseContent 0.2s ease-out forwards;

      &.content-visible {
        padding-top: 30px;
        animation: expandContent 0.5s ease-out forwards;
      }

      @media screen and (max-width: 320px) {
        padding: 10px 4px;
      }

      .text {
        user-select: none;
        font-size: 12px;
        max-width: 440px;

        @media screen and (max-width: 500px) {
          min-width: 300px;
          max-width: 350px;
        }
        @media screen and (max-width: 400px) {
          min-width: 300px;
          max-width: 350px;
        }
        @media screen and (max-width: 360px) {
          min-width: 300px;
          max-width: 350px;
        }
        @media screen and (max-width: 320px) {
          min-width: 220px;
          max-width: 280px;
        }

        .redirection-button {
          margin-left: 2px;
          font-style: italic;
          font-weight: 800;
          text-decoration: underline;
        }
      }
    }

    @keyframes expandContent {
      0% {
        opacity: 0;
        visibility: hidden;
        max-height: 0px;
        padding-top: 0px;
      }
      100% {
        opacity: 1;
        visibility: visible;
        max-height: 500px;
        padding-top: 30px;
      }
    }

    @keyframes collapseContent {
      0% {
        opacity: 1;
        visibility: visible;
        max-height: 500px;
        padding-top: 30px;
      }
      100% {
        opacity: 0;
        visibility: hidden;
        max-height: 0px;
        padding-top: 0px;
      }
    }
  }
}
