.root {
  width: 100%;
  display: flex;
  flex-direction: column;

  .loader-content {
    display: flex;
    gap: 10px;

    .charge {
      display: flex;
      align-items: center;
    }
  }

  .blocked {
    font-size: 12px;
    font-style: italic;
  }
}
