.root {
  display: flex;
  justify-content: center;
  max-width: 550px;
  width: 100%;
  border: 1px solid #4f5d75;
  margin: 20px auto;
  border-radius: 4px;

  @media screen and (max-width: 500px) {
    margin: 10px 20px 10px 20px;
    max-width: 460px;
  }
  @media screen and (max-width: 420px) {
    margin: 10px 16px;
    max-width: 360px;
  }
  @media screen and (max-width: 400px) {
    max-width: 340px;
  }
  @media screen and (max-width: 360px) {
    max-width: 320px;
  }
  @media screen and (max-width: 320px) {
    max-width: 280px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    //border: 1px solid orange;
    width: 100%;
    padding: 30px 60px;

    @media screen and (max-width: 500px) {
      padding: 10px 16px;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 360px) {
      padding: 10px 20px 10px 20px;
      gap: 30px;
    }
    .subtitle {
      display: flex;
    }
  }
}
