.root {
  display: flex;
  flex-direction: column;
  height: 100%;

  .layout-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;

    // @media screen and (max-width: 500px) {
    //   align-items: unset;
    // }
  }
  .internet-notifier {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #efefef;
    position: fixed;
    bottom: 0;
    height: 20px;
    color: white;
    z-index: 8;
  }
}
