.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  .allow-notifications-container {
    display: flex;
    justify-content: center;
  }

  .user-lists-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    .unit {
      display: flex;
      cursor: pointer;
      border-radius: 12px;
      width: 100%;
      justify-content: center;

      &:hover {
        background-color: #bcd4e6;
      }
    }
  }
  .no-invitation {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #2a5293;
    border-radius: 8px;
    padding: 8px;

    .svg {
      display: flex;
      width: 30px;
    }
  }
}
