.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  max-width: 650px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  min-height: 100vh;
  height: 95vh;

  @media screen and (max-width: 460px) {
    padding-top: 0px;
    max-width: 320px;
  }
  @media screen and (max-width: 320px) {
    max-width: 280px;
    height: 85%;
    gap: 0px;
  }

  .list-item {
    display: flex;
    justify-content: center;
    width: 100%;

    .element {
      display: flex;
      width: 100%;
      border-radius: 12px;
      background-color: #bcd4e6;
    }
  }

  .elements-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 50px;

    @media screen and (max-width: 360px) {
      gap: 0px;
    }
  }

  .loading {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    align-items: center;
  }

  .dynamic-button-input {
    display: flex;
    position: fixed;
    bottom: 80px;
    left: 20px;
    right: 20px;
    opacity: 1;
    z-index: 5;

    // @media screen and (max-width: 420px) {
    // bottom: 70px;
    // }
    // @media screen and (max-width: 360px) {
    //   bottom: 0px;
    // }
    @media screen and (max-width: 320px) {
      bottom: 60px;
    }
  }
}
